# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Production
/build

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# MacOS files
.DS_Store

# IDEs
.idea/
.vscode/
*.swp

# Temporary files
*.tmp
*.temp
